html {
	scroll-padding-top: 65px;
}

body { 
    padding-top: 55px;
    
}


a:hover {
	text-decoration: none !important;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #aaaaaa;
  font-size: 3000px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.navbar-brand { 
	font-family:  'Kalam', Impact;
	font-weight: bold;
	color: snow;
}

.navbar {
	background-color: #f8b188;
}

.nav-item, .scroll-link, .navbar-collapse{
	font-family:  'Kalam', Impact;
	color: snow;
	font-size: 18px;
	font-weight: bold;
}

.title {
	font-family:  'Kalam', Impact;
	font-size: 60px;
	font-weight: bold;
	color: #f8b188;
	text-align: center;
}


.description {
	font-family: "Roboto", Courier, monospace;
	font-size: 30px;
	line-height: 28px;
	color: #312F2F;
	text-align: center;
}

.top-text{
	padding: 2%;
}
.top-row{
  	padding-top: 30px;
  	height: 100%;
}
.top-title {
	font-family: 'Kalam', Impact;
	font-size: 80px;
	font-weight: bold;
	color: snow;
}
.top-subtitle {
	font-size: 35px;
	font-weight: bold;
	color: snow;
	text-align: left;
}
.top-body{
	color: snow; 
	font-size: 16px;
}

.top-img {
	max-width: auto;
	max-height: auto;
	overflow: hidden;
}


.about-content {
	padding-top: 40px;
	padding-bottom: 40px;
}

.what-content {
	padding-bottom: 40px;
}
.what-subtitle {
	font-family:  'Kalam', Impact;
	font-size: 35px;
	font-weight: bold;
	text-align: left;
}
.what-description {
	text-align: left;
}
.what-img {
	padding-top: 30px;
	width: 100%;
	height:auto ;
}

.project-col {
	height: 80%;

}

.project-col:hover {
	padding: 10%;
	color: snow;
	text-decoration: none;
	transform: scale(1.05, 1);
	transition: 1s;
}

.project-card {
	width: auto;
	text-align: center;
	text-decoration: none;
	filter: saturate(20%);
	transition: 2s;
}
.project-card:hover {
	transition-duration: 1s;
	filter: saturate(90%);
	padding: 1.25%;
}
.project-card-1 {
	background-color: #F0386B
}
.project-card-2 {
	background-color: #87BBA2
	
}
.project-card-3{
	background-color: #06BCC1
}

.project-card-title {
	font-size:40px;
	color: snow;
	font-weight: bold;
	
}

.project-card-title:hover {
	text-decoration: none;
	color: #EAFFDA ;
}

.project-description {
	color: snow;
	display: center;
}

.blog-title { 
	text-align: left; 
	font-size: 30px;
	transition: 0.5s;
}
.blog-title:hover { 
	text-align: left; 
	font-size: 32px;
	transition: 0.25s;
}

.blog-desc {
	text-align: left;
	font-size: 17px;
}
.post-title {
	text-align: left; 
	font-size: 50px
}

.post-about {
	font-size: 18px;
	color: gray;
}

.post-body {
	font-family: "Roboto", Courier, monospace;
	font-size: 24px;
	line-height: 24px;
	text-align: left;
}
