html {
	scroll-padding-top: 65px;
}

body { 
    padding-top: 55px;
    
}

a:hover {
	text-decoration: none !important;
}

.navbar-brand { 
	font-family:  'Kalam', Impact;
	font-weight: bold;
	color: snow;
}

.navbar {
	background-color: #f8b189;
}

.nav-item, .scroll-link, .navbar-collapse{
	font-family:  'Kalam', Impact;
	color: snow;
	font-size: 1.2rem;
	font-weight: bold;
}

.title {
	font-family:  'Kalam', Impact;
	font-size: 3rem;
	font-weight: bold;
	color: #f8b188;
}


.description {
	font-family: "Roboto", Courier, monospace;
	font-size: 1.5rem;
	line-height: 1.4rem;
	color: #312F2F;
	text-align: center;
}

.top-text{
	padding: 2%;
}
.top-row{
  	padding-top: 1.5rem;
  	height: 100%;
}
.top-title {
	font-family: 'Kalam', Impact;
	font-size: 4rem;
	font-weight: bold;
	color: snow;
}
.top-subtitle {
	font-size: 1.8rem;
	font-weight: bold;
	color: snow;
	text-align: left;
}
.top-body{
	color: snow; 
	font-size: 0.8rem;
}

.top-img {
	max-width: auto;
	max-height: auto;
	overflow: hidden;
}


.about-content {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.what-content {
	padding-bottom: 2rem;
}
.what-subtitle {
	font-family:  'Kalam', Impact;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: left;
}
.what-description {
	text-align: left;
}
.what-img {
	padding-top: 1.5rem;
	width: 100%;
	height:auto ;
}

.project-col {
	height: 80%;

}

.project-col:hover {
	padding: 10%;
	color: snow;
	text-decoration: none;
	transform: scale(1.05, 1);
	transition: 1s;
}

.project-card {
	width: auto;
	text-align: center;
	text-decoration: none;
	filter: saturate(20%);
	transition: 2s;
}
.project-card:hover {
	transition-duration: 1s;
	filter: saturate(90%);
	padding: 1.25%;
}
.project-card-1 {
	background-color: #F0386B
}
.project-card-2 {
	background-color: #87BBA2
	
}
.project-card-3{
	background-color: #06BCC1
}

.project-card-title {
	font-size: 2rem;
	color: snow;
	font-weight: bold;
	
}

.project-card-title:hover {
	text-decoration: none;
	color: #EAFFDA ;
}

.project-description {
	color: snow;
	display: center;
}

.blog-title { 
	text-align: left; 
	font-size: 1.5rem;
	transition: 0.5s;
}
.blog-title:hover { 
	text-align: left; 
	font-size: 1.6rem;
	transition: 0.5s;
}

.blog-desc {
	text-align: left;
	font-size: 0.9rem;
}
.post-title {
	text-align: left; 
	font-size: 2.5rem;
}

.post-about {
	font-size: 0.9rem;
	color: gray;
}

.post-body {
	font-family: "Roboto", Courier, monospace;
	font-size: 1.2rem;
	line-height: 1.2rem;
	text-align: left;
}

.webapp-title {
	font-family: "Roboto", Courier, monospace;
	font-size: 2rem;
	line-height: 1.2rem;
	text-align: left;
}

.webapp-card {
	padding: 5%;
}
