{% extends 'base.html' %}
{% load static %}
{% block content %}
		<div class = "top-content">
		<div class = "container-fluid" style = "background-image: url({% static 'clock_knot.jpg' %}); background-size: cover;">
			<div class = "container">
			<div class = "row top-row justify-content-between">
				<div class = "col-lg-5 top-text">
					<h1 class = "top-title"> Jordan Wells </h1>
					<h2 class = "top-subtitle"> UT Chemical Engineering</h2>
					<p class = "top-body">
					</p>
				</div>
				<div class = "col-lg-5 top-img">
					<img src="{% static 'fullbody.png' %}" alt="A fullbody picture of me">

				</div>
			</div>
		</div>
	</div>

	<!-- About me -->
	<div class = "about-content" >
		<div class="container about-content" >
			<div class = "row justify-content-center">
				<h2 id="about" class = "title">Hi!</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
						
						<div >
							<p class = "description">
								I'm just a curious guy fumbling my way around topics I find interesting. 
							</p>
							<p class = "description mt-4">
								I hope you enjoy this site as much as I did learning how to make it!
							</p>
						</div>
				</div>
				
   
			</div>
		</div>
	</div>

	<div class = "what-content" >
		<div class="container what-container" >
			<div class = "row justify-content-center">
				<h2 id="about" class = "title">What do I do?</h2>
			</div>
			<div class="row justify-content-center mb-5">
				<div class="col-lg-5 mb-5">
						<h3 class = "what-subtitle" style = "color: #5B9279;">Chemical Engineering</h3>
						<div>
							<p class = "description what-description">
								Studying chemical engineering has been a wonderful vessel for allowing me to find interesting aspects of math and science that power our modern existence.
							</p>
							<p class = "description what-description">
								Currently, my interests are focused on biotechnology, computational biology, and materials science.
							</p>
						</div>
				</div>
				<div class = "col-lg-4">
					<img class = "what-img" src = "{% static 'dna_icon.svg'%}" alt = "A DNA double-helix icon">
				</div>
			</div>
			<div class="row flex-column-reverse flex-lg-row justify-content-center">
				<div class = "col-lg-4 mt-3">
					<img class = "what-img" src = "{% static 'code_icon.svg'%}" alt = "A computer screen showing a code text editor">
				</div>
				<div class="col-lg-5 mb-5">
						<h3 class = "what-subtitle" style = "color: #8FCB9B;">Programming</h3>
						<div >
							<p class = "description" style = "text-align: left">
								Computer programming has been such a powerful tool in the way I express my creativity, allowing me to create swaying data visualizations, practical applications, and fun side-projects.
							</p>
							<p class = "description" style = "text-align: left">
								Currently, my interests in programming are focused on exploring the wide space of data science.
							</p>
						</div>
				</div>
				
			</div>	
   
			</div>
		</div>
	</div>

	<!-- Projects -->
	<div class="projects-content">
		<div class="container-fluid" style = "background-color: #403233;">
			
			<div class="row justify-content-center" >
				<h2 class ="title mt-5" id = "projects">Projects</h2>
			</div>
			<div class = "row justify-content-center">
				<p class = "col-lg-12 project-description description mb-5">A few things I've done on the side</p>
			</div>
			
		</div>
		<div class = "container-fluid" style = "background-color: #615959;">
		   <a class = "project-col" href = "#top">
				<div class="row justify-content-center project-card project-card-1">
					<div class = "col-12">
						<h2 class = "title mt-5 justify-content-center project-card-title">
							THIS WEBSITE!
						</h2>
					</div>
					<div class = "col-8 justify-content-center">
						<p class = "project-description description">
							Hand-coded with the Django Python Web-framework, HTML, CSS, and JavaScript
						</p>
					</div>
					
				</div>
			</a>
			<a class = "project-col" href = "{% url 'webapps:webapps-index' %}">
				<div class="row justify-content-center project-card project-card-2">
					<div class = "col-12">
						<h2 class = "title mt-5 justify-content-center project-card-title">
							WEB APPLICATIONS
						</h2>
					</div>
					<div class = "col-8 justify-content-center">
						<p class = "project-description description">
							A collection of various web applications I have built using Python
						</p>
					</div>
					
				</div>
			</a>
			<a class = "project-col" href = "#top">
				<div class="row justify-content-center project-card project-card-3">
					<div class = "col-12">
						<h2 class = "title mt-5 justify-content-center project-card-title">
							DATA SCIENCE
						</h2>
					</div>
					<div class = "col-8 justify-content-center ">
						<p class = "project-description description">
							All things data science and machine learning
						</p>
					</div>
					
				</div>
			</a>
		   
		</div>
		</div>
	</div>
		
{% endblock content %}