{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content ="The personal website for Jordan Wells, a UT Chemical Engineering student and programming hobbyist"> 

	<meta property="og:title" content ="Jordan Wells">
	<meta property="og:description" content ="Jordan Wells' Personal Website">
	<meta property="og:type" content ="website">
	<meta property="og:url" content ="https://www.jordantwells.com/">
	<meta property="og:image" content ="{% static Jordan.JPG %}">
	<meta property="og:site_name" content ="Jordan Wells">





	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <link rel="stylesheet" type="text/css" href= "{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kalam|Roboto">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="{% static 'favicon.png'%}" type="png" />

	{% if title %}
		<title> Jordan Wells - {{ title }} </title>
	{% else %}
		<title> Jordan Wells </title>
	{% endif %}
</head>
<style>
	.contact-img {
	display: block;
	background-image: url({% static 'icons/envelope.svg'%});
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100px;
	width: 100px;
	fill:#FFFFFF;
	margin-bottom: 20px;
  	transition: 0.005s;
	}
	
	.contact-img:hover {
  	background-image: url({% static 'icons/envelope-open.svg'%});
	}


</style>
<body style = "background-color: #FFF9FB;">
	<!---Navigation Bar--->
	<nav class="navbar fixed-top navbar-expand-md">
	    <div class="container">
	        <a class="navbar-brand" href="{% url 'core:index' %}"><img class = "nav-img" src = "{% static 'favicon.png'%}" alt = "My Logo"></img> </a>
	         <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
	        <div class="collapse navbar-collapse" id="navbarNav">
	            <ul class="navbar-nav ml-auto" >

	                <li class="nav-item">
	                    <a class="nav-link scroll-link" href= "{% url 'core:index' %}">Home</a>
	                </li>

	                <li class="nav-item">
	                    <a class="nav-link scroll-link" href="{% url 'blog:blog_index' %}">Blog</a>
	                </li>

	                <li class="nav-item">
	                    <a class="nav-link scroll-link" href="{% url 'core:resume' %}">Resume</a>
	                </li>
	                
	            </ul>
	        </div>
	    </div>
	</nav>


	{% block content %}
	{% endblock content %}

	<!---Contact Section--->
	<div>
		<div class="container-fluid" style = "background-color: #403233;">
			<div class="row">
				<div class = "col-12">
	                <h2 class ="title mt-3 mb-2" id = "contact" style = "text-align: center">Contact</h2>
	                <h3 class = "" style = "color: snow; text-align: center"> +1 (281) 608-1825</h3>
	            </div>
		    </div>
			<div class = "row justify-content-center">
				<a href = "mailto:jordantwells@gmail.com" class = "justify-content-center">
				<div class = "contact-img">
				</div>
				</a>
			</div>	
		</div>
	</div>

	<!---Footer Section--->
	<div class = "footer-content">
		<div class = "container-fluid" style = "background-color :#F7A474">
			<div class = "row" style = "height: 75px">
			</div>
		</div>
	</div>


	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	
</body>
</html>