{% extends "base.html"%}
{% block content %}
<div class = "container">
	<div class = "row">
		<p class = "col-3">

			HI!Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
								Ut wisi enim ad minim veniam, quis nostruLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
								Ut wisi enim ad minim veniam, quis nostruLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
								Ut wisi enim ad minim veniam, quis nostruLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
								Ut wisi enim ad minim veniam, quis nostruLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
								Ut wisi enim ad minim veniam, quis nostruLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
								Ut wisi enim ad minim veniam, quis nostruLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
								Ut wisi enim ad minim veniam, quis nostru
		</p>
	</div>
</div>
{% endblock content %}